<form (ngSubmit)="onSubmit()" class="w-50 mx-auto">
  <!-- Owner fields -->
  <div class="row">
    <mat-checkbox class="col-10 my-1" [(ngModel)]="owner.isKeeper" name="isKeeper">Is Keeper</mat-checkbox>
    <mat-form-field class="col-10 my-1">
      <input matInput placeholder="Experience" [(ngModel)]="keeper.experience" name="experience">
    </mat-form-field>
    <mat-form-field class="col-10 my-1">
      <input matInput placeholder="Cost" [(ngModel)]="keeper.cost" name="cost">
    </mat-form-field>
    <mat-form-field class="col-10 my-1">
      <textarea matInput placeholder="Description" [(ngModel)]="keeper.description" name="description"></textarea>
    </mat-form-field>
  </div>

  <!-- User fields -->
  <div class="row">
    <mat-form-field class="col-10 my-1">
      <input matInput placeholder="First Name" [(ngModel)]="owner.user_id.firstName" name="firstName">
    </mat-form-field>
    <mat-form-field class="col-10 my-1">
      <input matInput placeholder="Last Name" [(ngModel)]="owner.user_id.lastName" name="lastName">
    </mat-form-field>
    <mat-form-field class="col-10 my-1">
      <input matInput placeholder="Phone" [(ngModel)]="owner.user_id.phone" name="phone">
    </mat-form-field>
    <mat-form-field class="col-10 my-1">
      <mat-label>Gender</mat-label>
      <mat-select [(ngModel)]="owner.user_id.gender" name="gender">
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Submit button -->
  <button mat-raised-button color="primary" type="submit">Update</button>
</form>