<!-- navbar landing -->
<nav class="navbar navbar-expand-lg bg-orange">
  <div class="container">
    <div>
      <a class href="#">
        <img src="../../../assets/images/landing/logo.png" alt="Petz" width="180" height="67">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto " *ngIf="role == '' || role == undefined">
        <li class="nav-item p-2">
          <a class="nav-link " aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link " href="#">About Us</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link " href="#">Services</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link " routerLink="/login">Login</a>
        </li>

      </ul>

      <!-- vet navbar -->
      <ul class="navbar-nav mx-auto " *ngIf="role=='vet'">
        <li class="nav-item p-2">
          <a class="nav-link " aria-current="page" routerLink="/vet/schedule">Home</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link " routerLink="/vet/appointments">Appointments</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link " routerLink="/vet/edit">Profile</a>
        </li>
        <li class="nav-item p-2">
          <button class="nav-link " routerLink="" (click)="logout()">Logout</button>
        </li>

      </ul>

      <!-- user navbar -->
      <ul class="navbar-nav mx-auto " *ngIf="role=='owner'">
        <li class="nav-item p-2">
          <a class="nav-link " aria-current="page" routerLink="/user">Home</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link " routerLink="/user/vets">Vets</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link " routerLink="/user/keepers">Keepers</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link " href="#">owner</a>
        </li>
        <li class="nav-item p-2">
          <button class="nav-link " routerLink="" (click)="logout()">Logout</button>
        </li>

      </ul>

      <!-- keeper navbar -->
      <ul class="navbar-nav mx-auto " *ngIf="role=='keeper'">
        <li class="nav-item p-2">
          <a class="nav-link " aria-current="page" routerLink="/user">Home</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link " routerLink="/user/keeper/schedule">Keeper Schedule</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link " routerLink="/user/keeper/appointments">Keeper Appointments</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link " routerLink="/user/keeper">Keepers</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link " routerLink="/user/edit">Profile</a>
        </li>
        <li class="nav-item p-2">
          <button class="nav-link " (click)="logout()">Logout</button>
        </li>

      </ul>
    </div>
  </div>
</nav>
<div style="min-height: 70vh;">
  <router-outlet>

  </router-outlet>
</div>


<!-- footer -->
<footer class="bg-dark text-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <img src="../../../assets/images/landing/logo.png" alt="Footer Logo">

      </div>
      <div class="col-lg-4">
        <h5 class="text-orange fs-5">Contact</h5>
        <ul class="list-unstyled">
          <li>Address: 123 Street, City, Country</li>
          <li>Phone: 123-456-7890</li>
          <li>Email: petez@example.com</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h5 class="text-orange fs-5">Follow Us</h5>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="text-center">

      <p>&copy; 2023 Your Website. All rights reserved.</p>
    </div>
  </div>
</footer>
