
<h1 class="text-center my-5">Vets</h1>
<section class="container">
  <div class="row">
    <div *ngFor="let keeper of pagedKeepers" class="p-3 col-md-3">
      <article class="keeper">
        <h3 class="text-capitalize">{{keeper.owner_id.firstName}} {{keeper.owner_id.lastName}}</h3>
        <p class=""> {{keeper.owner_id.email}}</p>
        <p class=""> {{keeper.owner_id.phone}} </p>
        <p class=""> Years of Experience + {{ keeper.experience }}</p>
        <p class=""> Cost: {{keeper.cost}} </p>
        <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary m-2"
                (click)="viewKeeper(keeper)">
          View
        </button>
      </article>
    </div>
  </div>
  <mat-paginator [length]="keepers.length" [pageSize]="pageSize" (page)="onPageChange($event)">
  </mat-paginator>
</section>



