.sticky-element {
  transform: translateY(20%);
  transition: transform 0.3s ease;
}

.fas.fa-star {
  color: #ddd;
}

.fas.fa-star.active,
.fas.fa-star.hover {
  color: #ffc107;
}

.nav-item .nav-link {
  font-size: 17px;
  font-weight: 400;
  color: #ffffff;
}

.nav-item .nav-link:hover {
  color: #108896;
}

.primary_color {
  color: #108896;
}
