<!-- <div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-4"></div>
</div> -->
<div class="card mb-3 w-100 border-0 py-5">
  <div class="container">
    <div class="row g-0">
      <div class="col-md-4 text-center">
        <figure>
          <img [src]="vetImage" class="img-fluid" alt="...">
        </figure>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <!-- <h2 class="card-title mb-2"> -->
          <small class="text-secondary text-uppercase fw-semibold">Veterinarian Dr</small>
          <!-- </h2> -->
          <h1 class="card-title text-capitalize fs-2 mt-1">
            DR. {{ vetData?.user_id?.firstName }} {{ vetData?.user_id?.lastName }}
          </h1>

          <div class="mb-2">
            <i class="fas fa-star me-1" style="color: #FFC107;"></i>
            <i class="fas fa-star me-1" style="color: #FFC107;"></i>
            <i class="fas fa-star me-1" style="color: #FFC107;"></i>
            <i class="fas fa-star me-1" style="color: #FFC107;"></i>
            <i class="fas fa-star me-1" style="color: #ddd;"></i>
            <small class="text-muted fw-semibold">(145)</small>
          </div>

          <div class="card-text">
            <ul class="list-group">
              <li class="list-group-item border-0 px-0">
                <h6 class="fs-6 mb-1">Address</h6>
                2726 Shinn Street, New York
              </li>
              <li class="list-group-item border-0 px-0">
                <h6 class="fs-6 mb-1">Phone</h6>
                <a [href]="'tel:+20' + vetData?.user_id?.phone">+02 {{ vetData?.user_id?.phone }}</a>
              </li>
            </ul>
          </div>

          <!-- <p class="card-text text-secondary fs-6 lh-base">
            Experience Years: {{ vetData?.experience }}
          </p>
          <p class="card-text text-secondary fs-6 lh-base">
            Examination Price: {{ vetData?.cost }}
          </p>
          <p class="card-text text-secondary fs-6 lh-base">
            {{ vetData?.description }}
          </p> -->
        </div>
      </div>
    </div>
  </div>
</div>